PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://hanifaasasd23:hanifaasad@cluster0.cqlai.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
GMAIL_USER=your@gmail.com
GMAIL_APP_PASSWORD=your_16_char_app_password
MAIL_TO=hello@thestreamdesign.com
CLIENT_URL=http://localhost:3000
